.background {
    background-color: brown;
}

.players{
    display: flex;
    align-items: center;
    position:relative;
    height: 600px;
}

.cpu {
    width: 100%;
    position:absolute;
    display:flex;
    justify-content: center;
    z-index:-1;
}

.player2 {  
    top:0;
}

.player3 {
    left:30%;
    transform:rotate(-90deg);
}

.player4{
    right:30%;
    transform:rotate(90deg);
}

.active{
    width:100%;
    position:absolute;
    display:flex;
    justify-content: center;
    bottom:0;
}

.player__card {
    width:60px;
    height:150px;
    padding:0 1rem;
    border:2px solid yellow;
    background-repeat: no-repeat;
    background-size:cover;
}

.player-active__btn {
    background-color: blue;
    padding:20px;
    display:inline-block;
    cursor:pointer;
    color:#fff;
}

.generate{
    background-color: blue;
    padding:20px;
    display:inline-block;
    cursor:pointer;
    color:#fff;
}

.open {
    background-color: blue;
    padding:20px;
    display:inline-block;
    cursor:pointer;
    color:#fff;
}

.next-turn {
    background-color: blue;
    padding:20px;
    display:inline-block;
    cursor:pointer;
    color:#fff;
}

.input-fish{
    background-color: blue;
    padding:20px;
    display:none;
    cursor:pointer;
    color:#fff;
}

.total-fish {
    color:#fff;
    font-size:40px;
}

.input-fishes-btn{
    background-color: blue;
    padding:20px;
    cursor:pointer;
    color:#fff;
}

.in-game-fish {
    position:absolute;
   
    display:block;
    color:#fff;
   font-size:50px;  
}

.fish1 {
    top:-100px;
}

.fish2 {
    top:200px;
}

.fish3 {
    bottom:300px;
}

.fish4 {
    bottom:400px;
}