

/* The Modal (background) */
.start-game__modal {
    display: block;     
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-image: url("/assets/images/start/stars-background.jpg");
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .start-game__modal-content {
    background-color: #bec2d8de;
    margin:3% auto 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; 
    height:40%;
    border-radius: 20px;
    text-align: center;
    font-size:30px;
  }

  .last-door {
      transform:translateY(-50px)
  }

  .out__up {
      animation: out-up 1s;
  }

  .out__down {
    animation: out-down 1s;
}

  @keyframes out-up {
    0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-500px);
      }
  }

  @keyframes out-down {
    0% {
        transform:translateY(-50px)
      }
      100% {
        transform: translateY(500px);
      }
  }

  .start-game__control {
      margin-top:50px;
      width:100%;
      text-align: center;
      font-size: 30px;
  }

  .start-game__selector {
      width:80px;
      height: 50px;
      margin:20px;
      font-size:30px;
      background-color:black;
      border-radius: 20px;
      border-color: #fff;
      color:#fff;
  }

  input[type="file"] {
    display: none;
  }

  .start-game__input-profile-click {
        padding: 0 50px;
        margin:auto;
        display: block;
        cursor: pointer;
        width:10%;
        height:220px;
        background-image: url("/assets/images/profile/empty-profile.jpg");
        background-size: 100% 100%;
        border: 1px solid #000;
        border-radius: 10px;
  }

  .start-game__profile {
    width:100%;
    height:100%;
    border: 1px solid #000;
  }

  .start-game__btn{
    background-color: #000;
    border-radius: 20px;
    margin-top:50px;
    padding:20px 100px;
    display:inline-block;
    cursor:pointer;
    color:#fff;
}

.start-game__btn:hover {
    border: 3px solid #000;
    background-color:#fff;
    color:#000;
}

.background {
    background-color: brown;
}

.players{
    display: flex;
    align-items: center;
    position:relative;
    height: 100vh;
}

.player0{
    width:100%;
    position:absolute;
    display:flex;
    justify-content: center;
    bottom:100px;
}

.player__profile0 {
    width:10%;
    height:30%;
    position:absolute;
    bottom:100px;
    left:55%;
    background-size:100% 100%;
    border-radius:20px;
}

.cpu {
    width: 100%;
    position:absolute;
    display:flex;
    justify-content: center;
    z-index:-1;
}

.cpu-profile {
    background-image: url("/assets/images/profile/alien-profile.jpg");
    background-size:100% 100%;
    width:10%;
    padding:100px;
    position:absolute;
    top:-20px;
    border-radius: 100%;
}

.player1 {  
    top:50px;
}

.player2 {
    left:40%;
    transform:rotate(-90deg);
}

.player3{
    right:40%;
    transform:rotate(90deg);
}



.player__card {
    width:30px;
    height:150px;
    padding:0rem 2rem;
    border:2px solid yellow;
    background-repeat: no-repeat;
    background-size:cover;
    
}
  
.clickable {
    animation: pulse 1.5s infinite;
}

  @keyframes pulse {
    0% {
      border:1px solid #000;
    }
    100% {
        border:2px solid red;
        
    }
  }

.player-active {
    text-align: center;
}

.player-active__btn {
    background-color: blue;
    padding:30px;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    border-radius: 20px;
}

.next-turn {
    display:none;
    background-color: blue;
    padding:20px;
    cursor:pointer;
    color:#fff;
}

.stay, .leave, .show {
    background-color: blue;
    padding:20px;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    display:none;
}

.input-fish{
    background-color: blue;
    padding:20px;
    display:none;
    cursor:pointer;
    color:#fff;
}

.total-fish {
    color:#fff;
    font-size:40px;
}

.input-fishes-btn{
    background-color: blue;
    padding:20px;
    cursor:pointer;
    color:#fff;
}

.in-game-fish {
    position:absolute;
   
    display:block;
    color:#fff;
   font-size:50px;  
}

.fish0 {
    top:-100px;
}

.fish1 {
    top:200px;
}

.fish2 {
    top:-200px;
}

.fish3 {
    bottom:300px;
}


